html {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 1%;
  width: 100%;
  background-color: gray;
}

header input {
  width: 110px;
}

#logo-netio,
#img-pkmn {
  height: 3em;
}

span#saludo {
  color: white;
  margin: 0 2em;
}

main {
  flex: 1;
}

#inventario {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: space-around;
}

.producto {
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.imagen-producto {
  height: 250px;
  width: 250px;
}

footer {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0 2%;
  width: 100%;
}

.boton {
  height: fit-content;
}

.card-botones {
  display: flex;
  justify-content: space-around;
}

.form-label {
  margin-top: 0.3em;
  margin-bottom: 0.2em;
}

p {
  margin-bottom: 0;
}

.em {
  height: 1em;
}

.align-right {
  text-align: right
}