header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 2em;
  background-color: gray;
}

#logo-netio {
  height: 3em;
}

span#saludo {
  color: white;
}

#inventario {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: space-around;
}

.producto {
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.imagen-producto {
  height: 250px;
  width: 250px;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
}

.card-botones {
  display: flex;
  justify-content: space-around;
}

.form-label {
  margin-top: 0.3em;
  margin-bottom: 0.2em;
}

p {
  margin-bottom: 0;
}

.em {
  height: 1em;
}